.clientes-container {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

/* Título */
.titulo {
  font-size: 28px;
  margin-bottom: 25px;
}

/* Caixa de busca */
.search-box {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
}

.search-box input {
  width: 100%;
  padding: 10px 35px 10px 10px;
  border: 1px solid #777;
  border-radius: 3px;
  font-size: 16px;
}

.search-box .icon {
  position: absolute;
  right: 10px;
  top: 9px;
  font-size: 18px;
  opacity: 0.6;
}

/* Filtros */
.filtros {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filtros label {
  font-size: 16px;
}

/* Botão cadastrar */
.btn-cadastrar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.btn-cadastrar {
  background-color: #1f4f80;
  border: none;
  padding: 10px 28px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.btn-cadastrar:hover {
  background-color: #1f4f80;
}

.clientes-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  border: 1px solid #ccc; 
}

/* Cabeçalho */
.clientes-table th {
  background-color: #c0c0c0;
  padding: 15px;
  text-align: left;
  font-weight: bold;
  border: 1px solid #0d0d0d; 
}

/* Células */
.clientes-table td {
  padding: 14px;
  border: 1px solid #ccc; 
}



.clientes-table tr:nth-child(even) {
  background-color: #f9f9f9;
}