.app-header {
  height: 64px;
  background-color: #f5f6f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

/* LADO ESQUERDO */
.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* esconde o checkbox */
#menu-toggle {
  display: none;
}

/* botão do menu */
.menu-button {
  cursor: pointer;
  border: none;
  background: transparent;
}

/* menu fechado por padrão */
.menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  background: rgb(218, 218, 218);

  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* quando checkbox estiver marcado → mostra menu */
#menu-toggle:checked + .menu-button + .menu {
  display: flex;
}

.menu-button {
  font-size: 1.5rem;
  cursor: pointer;
  color: #262626;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 32px;
  width: auto;
}

.company-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.company-name {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.company-subtitle {
  font-size: 11px;
  color: #666;
}

/* LADO DIREITO */
.header-right {
  display: flex;
  align-items: center;
}

.user-avatar {
}

@media (max-width: 600px) {
  .company-text {
    display: none;
  }
}
